/* This is a CSS comment */
p {
  color: blue; /* This is a declaration */
  font-size: 16px;
  background-color: yellow;
}
//adding data from dev-2
Added new data to experience the trouble shooting
